<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <!-- <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul> -->
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{dateNow | date: 'yyyy'}}, Coral Jovem de Novo Hamburgo <i class="fa fa-music"></i> 
                </span>
            </div>
        </div>
    </div>
</footer>
